.front-page {
  .hero {
    min-height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    background-image: var(--background-image-desktop);
    @include media(md) {
      min-height: 500px;
      margin-bottom: 8rem;
      background-position: bottom;
    }
    @include media(xs) {
      min-height: 390px;
      margin-bottom: 12rem;
    }
    @include media(sm) {
      background-image: var(--background-image-mobile);
    }
    &::before {
      @include bg-presets();
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include media-down(sm) {
        @include gradient(top);
      }

      @include media(sm) {
        background: #0000005d;
      }
    }
    .content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include media(md) {
        margin-bottom: 4rem;
      }
      p {
        font-size: 18px;
        margin-bottom: 8px;
        @include media(xs) {
          font-size: 12px;
        }
      }
      h1 {
        max-width: 700px;
        width: 100%;
        margin-bottom: 30px;
        font-weight: 600;
        @include media(md) {
          margin-bottom: 20px;
        }
      }
      .search {
        background: $white;
        border-radius: 6px;
        max-width: 983px;
        width: 100%;
        margin: 0 auto;

        @include media(md) {
          position: absolute;
          top: 11rem;
          left: 0;
          box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        }
        .search-container {
          display: grid;
          grid-template-columns: 0.5fr 0.5fr 0.7fr 0.7fr;
          position: relative;
          border-radius: 6px;
          padding: 1px;
          @include media(md) {
            grid-template-columns: 1fr;
            padding: 10px;
            row-gap: 10px;
          }
          > div {
            border-right: 1px solid #939393;
            @include media(md) {
              border: 1px solid #dbdbdb;
              border-radius: 6px;
              padding: 1px;
            }
            @include media-down(md) {
              &:nth-child(4) {
                border-right: 1px solid #939393;
              }
              &:nth-child(5) {
                border-right: 0;
                // padding-right: 4rem;
              }
            }
          }
          .input-search {
            input {
              height: 60px;
              outline: none;
              width: 100%;
              padding: 1rem;
              color: $black;
              border: 0;
              border-radius: 5px;
              @include media(md) {
                height: 40px;
              }
            }
          }
          .select-container {
            input {
              padding: 1rem 3rem 1rem 1rem;
              border-radius: 5px;
              cursor: pointer;
            }
            .field-container-input__icon {
              i {
                transition: $fast;
              }
            }
            &.open-select {
              .field-container-input__icon {
                i {
                  transform: rotate(180deg);
                }
              }
            }
          }
          .submit {
            border: 1px solid transparent;
            padding: 0;
            @include media-down(md) {
              position: absolute;
              top: 9px;
              right: 7px;
            }
          }
          .select-operation-mobile {
            border: 1px solid transparent;
            ul {
              display: flex;
              gap: 10px;
              list-style: none;
              button {
                background: $white;
                font-size: 12px;
                text-transform: uppercase;
                border-radius: 6px;
                padding: 11px;
                border: 1px solid transparent;
                transition: $fast;
                span {
                  color: $black;
                  border-bottom: 1px solid transparent;
                  padding: 2px 0;
                }
                &.active {
                  background: #f4f7f8;
                  span {
                    border-bottom: 1px solid $red;
                  }
                }
              }
            }
          }
        }
        .loader-container {
          display: none;
        }
        &.loading {
          .loader-container {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(112 112 112 / 47%);
            z-index: 54;
            border-radius: 6px;
          }
          .loader {
            width: 30px;
            height: 30px;
            border: 4px solid #fff;
            border-bottom-color: transparent;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            z-index: 55;
          }

          @keyframes rotation {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
  .category-featured {
    padding: 4.25rem 0;
    background-color: $white;
    @include media(md) {
      padding: 1.75rem 0;
    }

    .row {
      padding-top: 32px;
      @include media(md) {
        padding-top: 18px;
      }
      .card-category {
        // height: 420px;
        // @include media(md) {
        //   height: 250px;
        // }
        // @include media(xs) {
        //   height: 200px;
        // }
        .image {
          display: flex;
          width: 100%;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          overflow: hidden;
          transition: $slow;
          picture,
          img {
            transition: $slow;
            object-fit: cover;

            object-position: center;
          }
        }
      }
    }
  }
  .developments-feature {
    padding: 4.25rem 0;
    @include media(md) {
      padding: 1.75rem 0;
    }

    .row {
      padding-top: 32px;
      @include media(md) {
        padding-top: 18px;
      }
    }
  }
  .property-feature {
    padding: 4.25rem 0;
    background-color: $gray;
    @include media(md) {
      padding: 1.75rem 0;
    }
    .row {
      padding-top: 32px;
      @include media(md) {
        padding-top: 18px;
      }
    }
  }
  .property {
    padding: 4.25rem 0;
    background-color: $white;
    @include media(md) {
      padding: 1.75rem 0;
    }

    .row {
      padding-top: 32px;
      @include media(md) {
        padding-top: 18px;
      }
    }
  }
  .banner {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    padding: 4.375rem 0;
    @include media(md) {
      padding: 3.125rem 0;
    }
    @include media(xs) {
      padding: 1.625rem 0;
    }
    &::before {
      @include bg-presets();
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0000008c;
    }
    .content {
      position: relative;
      z-index: 5;
      max-width: 778px;
      width: 100%;
      margin: 0 auto;
      .content-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
          max-width: 560px;
          width: 100%;
          font-weight: 400;
        }
      }
      .numbers {
        margin-top: 30px;
        .count {
          width: 100%;
          min-height: 179px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-radius: 6px;
          background: rgba(255, 255, 255, 0.24);
          padding: 30px 26px;
          backdrop-filter: blur(9px);
          @include media(sm) {
            flex-direction: row;
            gap: 5px;
            min-height: initial;
            padding: 8px 16px;
            justify-content: flex-start;
          }
          p {
            font-size: 1rem;
            @include media(sm) {
              font-size: 14px;
            }
          }
          .number {
            font-weight: 500;
            font-size: 48px;
            margin-bottom: 5px;
            @include media(md) {
              margin-bottom: 0;
              font-size: 30px;
            }
            @include media(sm) {
              font-size: 26px;
            }
          }
        }
      }
    }
  }
}
