$white: #fff;
$black: #333333;
$black-light:#222222;
$black-filtro: #333333;
$black-strong: #333;
$red: #E40729;
$gray: #F8F8F8;
$bg-filters: #F6F6F6;

.bg-white{
    background: $white !important;
}

.bg-black{
    background: $black !important;
}

